<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.v3.CardRebateMapper">
  <resultMap id="BaseResultMap" type="com.chouchong.entity.v3.CardRebate">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="membership_card_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="explain" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="record_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="money" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, membership_card_id, `explain`, status, record_id, money, order_no,
    admin_id, updated, created
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from card_rebate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySearch" resultType="com.chouchong.service.v3.vo.RefundVo">
    select a.id,
       a.user_id,
       a.membership_card_id,
       a.`explain`,
       a.money,
       a.created,
       c.title,
       d.nickname,
       d.phone,
       e.name as storeName,
       g.card_no
from card_rebate a
         left join membership_card c on a.membership_card_id = c.id
         left join app_user d on d.id = a.user_id
         left join store e on a.admin_id = e.admin_id
         left join user_member_card g on a.user_id = g.user_id and a.membership_card_id = g.membership_card_id
    where a.status = 1
    <if test="adminId != null ">
      and a.admin_id = #{adminId}
    </if>
    <if test="phone != null and phone != ''">
      and d.phone like concat('%',#{phone},'%')
    </if>
    <if test="storeName != null and storeName != ''">
      and e.name like concat('%',#{storeName},'%')
    </if>
    <if test="cardNo != null">
      and g.card_no like concat('%',#{cardNo},'%')
    </if>
    <if test="startTime != null and endTime != null">
      and unix_timestamp(a.created) &gt;= #{startTime}
      and unix_timestamp(a.created) &lt; #{endTime}
    </if>
    order by a.created DESC
  </select>
  <select id="selectBySearch1" resultType="com.chouchong.service.v3.vo.RefundVo">
        select a.id,
       a.user_id,
       a.membership_card_id,
       a.`explain`,
       a.money,
       a.created,
       c.title,
       d.nickname,
       d.phone,
       e.name as storeName,
       g.card_no
from card_rebate a
         left join membership_card c on a.membership_card_id = c.id
         left join app_user d on d.id = a.user_id
         left join store e on a.admin_id = e.admin_id
         left join user_member_card g on a.user_id = g.user_id and a.membership_card_id = g.membership_card_id
    where a.status = 1
    and a.admin_id in
    <foreach collection="list" open="(" close=")" item="list" separator="," index="index">
      #{list}
    </foreach>
    <if test="phone != null and phone != ''">
      and d.phone like concat('%',#{phone},'%')
    </if>
    <if test="storeName != null and storeName != ''">
      and e.name like concat('%',#{storeName},'%')
    </if>
    <if test="cardNo != null">
      and g.card_no like concat('%',#{cardNo},'%')
    </if>
    <if test="startTime != null and endTime != null">
      and unix_timestamp(a.created) &gt;= #{startTime}
      and unix_timestamp(a.created) &lt; #{endTime}
    </if>
    order by a.created DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from card_rebate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chouchong.entity.v3.CardRebate">
    insert into card_rebate (id, user_id, membership_card_id,
      `explain`, status, record_id,
      money, order_no, admin_id,
      updated, created)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{membershipCardId,jdbcType=INTEGER},
      #{explain,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{recordId,jdbcType=INTEGER},
      #{money,jdbcType=DECIMAL}, #{orderNo,jdbcType=BIGINT}, #{adminId,jdbcType=INTEGER},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.chouchong.entity.v3.CardRebate">
    insert into card_rebate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="membershipCardId != null">
        membership_card_id,
      </if>
      <if test="explain != null">
        `explain`,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="membershipCardId != null">
        #{membershipCardId,jdbcType=INTEGER},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chouchong.entity.v3.CardRebate">
    update card_rebate
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="membershipCardId != null">
        membership_card_id = #{membershipCardId,jdbcType=INTEGER},
      </if>
      <if test="explain != null">
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chouchong.entity.v3.CardRebate">
    update card_rebate
    set user_id = #{userId,jdbcType=INTEGER},
      membership_card_id = #{membershipCardId,jdbcType=INTEGER},
      explain = #{explain,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      record_id = #{recordId,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      order_no = #{orderNo,jdbcType=BIGINT},
      admin_id = #{adminId,jdbcType=INTEGER},
      updated = #{updated,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
