<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.order.ConsignmentOrderMapper">
  <resultMap id="BaseResultMap" type="com.chouchong.entity.webUser.ConsignmentOrder">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sell_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="consignment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, user_id, sell_user_id, consignment_id, quantity, price, status, updated, 
    created
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consignment_order
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="java.util.Map">
      SELECT
	a.id,
	a.order_no AS orderNo,
	a.user_id AS userId,
	a.sell_user_id AS sellUserId,
	a.consignment_id,
	a.quantity,
	a.price,
	a.`status`,
	a.created,
	a.updated,
	b.type,
	c.title,
	c.cover,
	d.nickname,
	d.phone,
	e.nickname as sellNickname,
	e.phone as sellPhone,
	f.pay_platform as payWay
FROM
	consignment_order a
	LEFT JOIN consignment b ON a.consignment_id = b.id
	LEFT JOIN v_bp c ON c.id = b.bp_id
	LEFT JOIN app_user d ON a.user_id = d.id
	LEFT JOIN app_user e ON a.sell_user_id = e.id
	LEFT JOIN payment_info f on a.order_no = f.order_no
	<where>
      <trim prefixOverrides="and">
        and a.status &lt; 4
        <if test="nickname!=null">
          and d.nickname like  concat('%',#{nickname},'%')
        </if>
        <if test="phone!=null">
          and d.phone = #{phone}
        </if>
        <if test="orderNo!=null">
          and a.order_no = #{orderNo}
        </if>
        <if test="status!=null">
          and a.status = #{status}
        </if>
        <if test="type!=null">
          and b.type = #{type}
        </if>
        <if test="payWay!=null">
          and f.pay_platform = #{payWay}
        </if>
      </trim>
    </where>
      order by a.id DESC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consignment_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chouchong.entity.webUser.ConsignmentOrder">
    insert into consignment_order (id, order_no, user_id, 
      sell_user_id, consignment_id, quantity, 
      price, status, updated, 
      created)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, 
      #{sellUserId,jdbcType=INTEGER}, #{consignmentId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{updated,jdbcType=TIMESTAMP}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chouchong.entity.webUser.ConsignmentOrder">
    insert into consignment_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="sellUserId != null">
        sell_user_id,
      </if>
      <if test="consignmentId != null">
        consignment_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sellUserId != null">
        #{sellUserId,jdbcType=INTEGER},
      </if>
      <if test="consignmentId != null">
        #{consignmentId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chouchong.entity.webUser.ConsignmentOrder">
    update consignment_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sellUserId != null">
        sell_user_id = #{sellUserId,jdbcType=INTEGER},
      </if>
      <if test="consignmentId != null">
        consignment_id = #{consignmentId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chouchong.entity.webUser.ConsignmentOrder">
    update consignment_order
    set order_no = #{orderNo,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      sell_user_id = #{sellUserId,jdbcType=INTEGER},
      consignment_id = #{consignmentId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      updated = #{updated,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById">
    UPDATE consignment_order
SET `status` = 4
WHERE
	id = #{id}
  </update>

  <!--寄售台订单-->
  <select id="getOrderStatistics" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT
    COUNT(0)
    FROM
    consignment_order
    WHERE
    status = 2
    <if test="startTime != '' and endTime != ''">
      AND
      created &gt;=#{startTime}
      AND
      created &lt;=#{endTime}
    </if>

    UNION ALL

    SELECT
    COUNT(0)
    FROM
    consignment_order
    WHERE
    status = 3
    <if test="startTime != '' and endTime != ''">
      AND
      created &gt;=#{startTime}
      AND
      created &lt;=#{endTime}
    </if>
  </select>
</mapper>