<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.v3.ElCouponUseLogMapper">

    <select id="selectList" resultType="com.chouchong.entity.v3.ElCouponUseLog">
        select a.id,
        a.store_id,
        a.user_id,
        a.quantity,
        a.detail,
        a.created,
        b.nickname,
        b.phone,
        c.name as store_name
        from el_coupon_use_log a
        left join app_user b on a.user_id = b.id
        left join store c on c.id = a.store_id
        <where>
            <trim suffixOverrides="and">
                <if test="adminId != null">
                    a.admin_id = #{adminId} and
                </if>
                <if test="log.storeName!=null and log.storeName != ''">
                    c.name like concat('%', #{log.storeName}, '%') and
                </if>
                <if test="log.phone != null and log.phone != ''">
                    b.phone like concat('%', #{log.phone}, '%') and
                </if>
                <if test="log.title != null and log.title != ''">
                    a.detail like concat('%', #{log.title}, '%') and
                </if>
            </trim>
        </where>
        order by a.created DESC
    </select>
    <select id="selectList1" resultType="com.chouchong.entity.v3.ElCouponUseLog">
        select a.id,
        a.store_id,
        a.user_id,
        a.quantity,
        a.detail,
        a.created,
        b.nickname,
        b.phone,
        c.name as store_name
        from el_coupon_use_log a
        left join app_user b on a.user_id = b.id
        left join store c on c.id = a.store_id
        where a.admin_id in
        <foreach collection="list" open="(" close=")" item="list" separator="," index="index">
            #{list}
        </foreach>
        <if test="log.storeName!=null and log.storeName != ''">
            and c.name like concat('%', #{log.storeName}, '%')
        </if>
        <if test="log.phone != null and log.phone != ''">
            and b.phone like concat('%', #{log.phone}, '%')
        </if>
        <if test="log.title != null and log.title != ''">
            and a.detail like concat('%', #{log.title}, '%')
        </if>
        order by a.created DESC
    </select>
</mapper>
