<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.v3.ElectronicCouponsMapper">
    <resultMap id="BaseResultMap" type="com.chouchong.entity.v3.ElectronicCoupons">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="summary" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="logo" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="store_ids" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.chouchong.entity.v3.ElectronicCoupons">
    insert into electronic_coupons (id, title, summary,
      logo, store_ids, admin_id,
      `type`, status, `date`,
      updated, created)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},
      #{logo,jdbcType=VARCHAR}, #{storeIds,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER},
      #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{date,jdbcType=TIMESTAMP},
      #{updated,jdbcType=TIMESTAMP}, #{created,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.chouchong.entity.v3.ElectronicCoupons">
        insert into electronic_coupons
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="storeIds != null">
                store_ids,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="updated != null">
                updated,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="storeIds != null">
                #{storeIds,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="date != null">
                #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chouchong.entity.v3.ElectronicCoupons">
        update electronic_coupons
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="storeIds != null">
                store_ids = #{storeIds,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectBySearch" resultType="com.chouchong.entity.v3.ElectronicCoupons">
        select id,
        title,
        summary,
        logo,
        store_ids,
        admin_id,
        `type`,
        status,
        `date`,
        updated,
        created
        from electronic_coupons
        where status = 1
        and admin_id = #{adminId}
        <if test="title != null and title != ''">
            and title like concat('%',#{title},'%')
        </if>
        order by created DESC
    </select>
    <select id="selectByKey" resultType="com.chouchong.entity.v3.ElectronicCoupons">
        select id,
        title,
        summary,
        logo,
        store_ids,
        admin_id,
        `type`,
        status,
        `date`,
        updated,
        created
        from electronic_coupons
        where status = 1
        and id = #{id}
    </select>
</mapper>
