<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.v3.ElUserCouponMapper">
    <resultMap id="BaseResultMap" type="com.chouchong.entity.v3.ElUserCoupon">
        <constructor>
            <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="coupon_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="total_quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="store_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.chouchong.entity.v3.ElUserCoupon">
    insert into el_user_coupon (id, coupon_id, user_id,
      total_quantity, quantity, status,
      code, store_id, admin_id,
      updated, created)
    values (#{id,jdbcType=BIGINT}, #{couponId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{totalQuantity,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{status,jdbcType=TINYINT},
      #{code,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER},
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.chouchong.entity.v3.ElUserCoupon">
        insert into el_user_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="totalQuantity != null">
                total_quantity,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="updated != null">
                updated,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="couponId != null">
                #{couponId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="totalQuantity != null">
                #{totalQuantity,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="insertUseLog">
insert into el_coupon_use_log(num, coupon_id, user_id,
                              store_id, detail, admin_id, quantity, created)
VALUES (
#{num}, #{couponId}, #{userId}, #{storeId}, #{detail}, #{adminId},
#{quantity}, now()
       )
    </insert>
    <update id="updateQuantity">
update el_user_coupon
set quantity = quantity - 1
where id = #{id}
  and status = 1
  and quantity > 1
    </update>
    <delete id="deleteById">
update el_user_coupon
set status = -1, quantity=0
where id = #{id}
    </delete>
    <select id="selectBySearch1" resultType="com.chouchong.service.v3.vo.ForUserVo">
        select a.id as num,
        a.coupon_id,
        a.user_id,
        a.total_quantity,
        a.quantity,
        a.created,
        b.title,
        b.date,
        c.phone,
        c.nickname,
        d.name as storeName
        from el_user_coupon a
        left join electronic_coupons b on a.coupon_id = b.id
        left join app_user c on a.user_id = c.id
        left join store d on a.store_id = d.id
        where a.status = 1
        and b.status = 1
        and a.admin_id in
        <foreach collection="list" open="(" close=")" item="list" separator="," index="index">
            #{list}
        </foreach>
        <if test="phone != null and phone != ''">
            and c.phone like concat('%',#{phone},'%')
        </if>
        <if test="store != null and store != ''">
            and d.name like concat('%',#{store},'%')
        </if>
        <if test="title != null and title != ''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="startTime != null and endTime != null">
            and unix_timestamp(a.created) &gt;= #{startTime}
            and unix_timestamp(a.created) &lt; #{endTime}
        </if>
        order by a.created DESC
    </select>
    <select id="selectBySearch" resultType="com.chouchong.service.v3.vo.ForUserVo">
        select a.id as num,
        a.coupon_id,
        a.user_id,
        a.total_quantity,
        a.quantity,
        a.created,
        b.title,
        b.date,
        c.phone,
        c.nickname,
        d.name as storeName
        from el_user_coupon a
        left join electronic_coupons b on a.coupon_id = b.id
        left join app_user c on a.user_id = c.id
        left join store d on a.store_id = d.id
        where a.status = 1
        and b.status = 1
        <if test="adminId != null ">
            and a.admin_id = #{adminId}
        </if>
        <if test="phone != null and phone != ''">
            and c.phone like concat('%',#{phone},'%')
        </if>
        <if test="store != null and store != ''">
            and d.name like concat('%',#{store},'%')
        </if>
        <if test="title != null and title != ''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="startTime != null and endTime != null">
            and unix_timestamp(a.created) &gt;= #{startTime}
            and unix_timestamp(a.created) &lt; #{endTime}
        </if>
        order by a.created DESC
    </select>
    <select id="selectDetailById" resultType="com.chouchong.entity.v3.ElCouponVo">
        select a.id as num,
       a.coupon_id,
       a.user_id,
       a.quantity,
       a.code,
       a.created,
       b.title,
       b.summary,
       b.logo,
       b.store_ids,
       b.start_time,
       b.date
from el_user_coupon a
         left join electronic_coupons b on a.coupon_id = b.id
where a.status = 1
  and b.status = 1
  and b.type = 1
  and a.id = #{id}
order by a.created DESC
    </select>
</mapper>
