<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchong.dao.order.ItemOrderMapper">
    <resultMap id="BaseResultMap" type="com.chouchong.entity.webUser.ItemOrder">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="store_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="total_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, store_id, order_no, total_price, quantity, status, created, updated,admin_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from item_order
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.chouchong.entity.webUser.ItemOrder">
    insert into item_order (id, user_id, store_id,
      order_no, total_price, quantity,
      status, created, updated
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER},
      #{orderNo,jdbcType=BIGINT}, #{totalPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER},
      #{status,jdbcType=TINYINT}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chouchong.entity.webUser.ItemOrder">
        insert into item_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="totalPrice != null">
                total_price,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chouchong.entity.webUser.ItemOrder">
        update item_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=BIGINT},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chouchong.entity.webUser.ItemOrder">
    update item_order
    set user_id = #{userId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateStatusById">
    update
      item_order
      set `status` = 4
      where
      id = #{id}
  </update>

    <!--统计商品订单-->
    <select id="getOrderStatistics" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        COUNT(0)
        FROM
        item_order
        WHERE
        status = 2
        <if test="startTime != '' and endTime != ''">
            AND
            created &gt;=#{startTime}
            AND
            created &lt;=#{endTime}
        </if>

        UNION ALL

        SELECT
        COUNT(0)
        FROM
        item_order
        WHERE
        status = 3
        <if test="startTime != '' and endTime != ''">
            AND
            created &gt;=#{startTime}
            AND
            created &lt;=#{endTime}
        </if>
    </select>
    <select id="selectList" resultType="com.chouchong.service.order.vo.ItemOrderVo">
        SELECT a.id,
        a.user_id,
        a.order_no as orderNo,
        a.total_price as totalPrice,
        a.`quantity`,
        a.`status`,
        a.created,
        a.updated,
        a.admin_id,
        b.nickname,
        b.phone,
        c.pay_platform as payWay,
        d.username
        FROM `item_order` a
        LEFT JOIN app_user b on a.user_id = b.id
        LEFT JOIN payment_info c on c.order_no = a.order_no
        LEFT JOIN sys_admin d on d.id = a.admin_id
        <where>
            <trim prefixOverrides="and">
                and a.status &lt; 4
                <if test="nickname!=null">
                    and b.nickname like concat('%',#{nickname},'%')
                </if>
                <if test="phone!=null">
                    and b.phone = #{phone}
                </if>
                <if test="orderNo!=null">
                    and a.order_no = #{orderNo}
                </if>
                <if test="status!=null">
                    and a.status = #{status}
                </if>
                <if test="payWay!=null">
                    and c.pay_platform = #{payWay}
                </if>
                <if test="adminId != null">
                    and a.admin_id = #{adminId}
                </if>
            </trim>
        </where>
        order by a.id DESC
    </select>
    <select id="selectUnredCount" resultType="java.lang.Integer">
      select count(0)
       from item_order
        <where>
            <trim suffixOverrides="and">
                <if test="adminId!=null">
                    admin_id = #{adminId} and
                </if>
                <if test="start!=null">
                    unix_timestamp(created) >= #{start} and
                </if>
            </trim>

        </where>
    </select>
</mapper>
