<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--输出到 logstash的 appender-->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>45.40.206.174:4560</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

<!--    &lt;!&ndash;输出日志格式&ndash;&gt;-->
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </layout>-->
<!--    </appender>-->
<!--&lt;!&ndash;    只保存info日志&ndash;&gt;-->
<!--    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动输出策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>/home/lin/IdeaProjects/java/liyuquan/GiftCircle_Service/info.%d.log</fileNamePattern>-->
<!--&lt;!&ndash;            <fileNamePattern>/home/log/info.%d.log</fileNamePattern>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash;只保存warn日志&ndash;&gt;-->
<!--    <appender name="fileWarnLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动输出策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>/home/lin/IdeaProjects/java/liyuquan/GiftCircle_Service/warn.%d.log</fileNamePattern>-->
<!--&lt;!&ndash;            <fileNamePattern>/home/log/warn.%d.log</fileNamePattern>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--&lt;!&ndash;    只保存error日志&ndash;&gt;-->
<!--    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动输出策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>/home/lin/IdeaProjects/java/liyuquan/GiftCircle_Service/error.%d.log</fileNamePattern>-->
<!--&lt;!&ndash;            <fileNamePattern>/home/log/error.%d.log</fileNamePattern>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="logstash" />
<!--        <appender-ref ref="consoleLog"/>-->
<!--        <appender-ref ref="fileInfoLog"/>-->
<!--        <appender-ref ref="fileWarnLog"/>-->
<!--        <appender-ref ref="fileErrorLog"/>-->
    </root>

</configuration>

